{% extends 'base.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            {% block side_block %}
            {% if userprofile.picture %}
            <img src="{{ userprofile.picture.url }}"/>
            {% endif %}

           <h2>{{ user.username }}</h2>

            <h2> Address: {{userprofile.address}}</h2>

            <h2>{{ userprofile.town}}</h2>

            <h2>{{userprofile.county}}</h2>

            <h2>{{ userprofile.post_code}}</h2>

            <h2>phone number(s):{{userprofile.phone_number}}</h2>

            <p>Email address: {{ user.email }}</p>
            <a href="{% url 'add_profile' %}">Edit Profile</a>
            {% endblock %}

        </div>
    </div>
</div>
{% block body_block %}
{% if opportunites %}
{% for opportunity in opportunites %}
    <li><a href="{url 'opportunity' opportunity.id}">{{opportunity.name}}</a>
    <a href="{url 'edit_opportunity' }">Edit opportunity</a></li>
{% endfor %}
{% endif %}
{% endblock %}