
{% if applications %}
{% for application in applications %}
    <h1>{{ application.app.opportunity.name }}</h1>
    {% if application.up.picture %}
        <!-- Should change the size to css and percentages probably -->
        <img src="{{ application.up.picture.url }}" width="128" height="128"/>
    {% endif %}

    <h1>{{ user.first_name }} {{ user.last_name }}</h1>

    <h3>
        <small>Address:</small>
        <p/>{{ application.up.address }}
        {{ application.up.town }}
        {{ application.up.county }}
        {{ application.up.post_code }}</h3>

    <h3>
        <small>phone number(s):</small>{{ application.up.contact_number }}</h3>
    <h3>
        <small>Email address:</small>{{ application.up.email }}
    </h3>
    <h4>{{ application.volunteer.email }}<p/></h4>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn {% if application.reply and application.reply.answer == True %}
            btn-success
        {% else %}
            btn-default
        {% endif %}" onclick="loadXMLDoc3()">Accepted</button>
        <button type="button" class="btn {% if application.reply %}
            btn-default
        {% else %}
            btn-primary
        {% endif %}" onclick="loadXMLDoc3()">Undecided</button>
        <button type="button" class="btn {% if application.reply and application.reply.answer == False %}
            btn-danger
        {% else %}
            btn-default
        {% endif %}" onclick="loadXMLDoc3()">Declined</button>
    </div>
{%endfor%}
{% endif %}
