{% if opportunities_list %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Replies from Opportunities Applied For</h4>
        </div>
        <!-- Display search opportunitiess in an ordered list -->
        <div class="panel-body">
            <div class="list-group">
                {% for opportunities in opportunities_list %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <a href="{% url 'opportunity' opportunities.opp.id %}">{{ opportunities.opp.name }}</a>
                        </h4>

                        <p class="list-group-item-text">{{ opportunities.opp.description|truncatewords:100 }}</p>

                        <h2>{% if opportunities.reply.answer %}Accepted!{% else %}Rejected{% endif %}</h2>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <h1>No replies from organisers</h1>
{% endif %}