{%extends 'base.html'%}

</div>

{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">5 Newest opportunities</h3>
    </div>
</div>

{% if new_opportunities %}
<ul class="list-group">
    {% for new_opportunity in new_opportunities %}
    <li class="list-group-item"><a href="{% url 'category'  new_opportunity.slug %}">{{ new_opportunity.name }}</a></li>
    <p class="list-group-item-text">{{new_opportunity.summary }}</p>
    {% endfor %}
</ul>
{% else %}
<strong>There are no new opportunities present.</strong>
{% endif %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">5 Urgent opportunities</h3>
    </div>
</div>
{% if ending_soon %}
<ul class="list-group">
    {% for ending in ending_soon %}
    <li class="list-group-item"><a href="{{ending.url}}">{{ ending.title }}</a></li>
    <p class="list-group-item-text">{{ ending.summary }}</p>
    {% endfor %}
</ul>
{% else %}
<strong>There are no urgent opportunities.</strong>
{% endif %}
</div>


</div>