{%extends 'base.html'%}

{% block title %}Index{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            {% block side_block %}
            {% if categories %}
            {% for category in categories %}
            <li><a href="">{{ category.slug }}</a></li>
            {% endfor %}
            {% endif %}
            {% endblock %}

        </div>
    </div>
</div>


{% block body_block %}

<div class="row placeholders">
    <div class="col-xs-12 col-sm-6 placeholder">



                    <div class="col-xs-12 col-sm-6 col-lg-6 pull-left">
                        <a href="/volunteer/register/"><img src="/static/img/register_volunteer.png" class="center-block img-responsive" /></a>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-lg-6 pull-right">
                        <a href="organiser/register/"><img src="/static/img/register_organiser.png" class="img-responsive center-block" /></a>
                    </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">5 Newest opportunities</h3>
            </div>
        </div>
        {% if new_opportunities %}
        <ul class="list-group">
            {% for new_opportunity in new_opportunities %}
            <li class="list-group-item"><a href="{% url 'opportunity' new_opportunity.slug new_opportunity.id %}">{{ new_opportunity.name }}</a></li>
            <p class="list-group-item-text">{{new_opportunity.summary|truncatewords:100}}</p>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no new opportunities present.</strong>
        {% endif %}
    </div>


    <div class="col-xs-12 col-sm-6 placeholder">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">5 Urgent Opportunities</h3>
            </div>
        </div>
        {% if ending_soon %}
        <ul class="list-group">
            {% for ending in ending_soon %}
            <li class="list-group-item"><a href="{% url 'opportunity' ending.slug ending.id %}">{{ ending.title }}</a></li>
            <p class="list-group-item-text">{{ ending.summary|truncatewords:100 }}</p>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no urgent opportunities.</strong>
        {% endif %}
    </div>
</div>


{%endblock%}