{% extends 'base.html' %}

{% load staticfiles %}

{% block headextra %}
    <!--Should make this static-->
    <script type="text/javascript">
        function loadXMLDoc()
        {
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function() {
                if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                    document.getElementById("main-list").innerHTML=xmlhttp.responseText;
                }
            }
            xmlhttp.open("GET", "{% url 'profile_opps_applied_for' %}", true);
            xmlhttp.send();
        }


        function loadXMLDoc2()
        {
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function() {
                if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                    document.getElementById("main-list").innerHTML=xmlhttp.responseText;
                }
            }
            xmlhttp.open("GET", "{% url 'volunteer_replies' %}", true);
            xmlhttp.send();
        }

        function loadXMLDoc3()
        {
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function() {
                if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                    document.getElementById("main-list").innerHTML=xmlhttp.responseText;
                }
            }
            xmlhttp.open("GET", "{% url 'reply_applications' %}", true);
            xmlhttp.send();
        }

        function sendReply(application_id, answer)
        {
            var xmlhttp;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.open("POST", "{% url 'send_reply' %}", true);
            xmlhttp.send("app_id=" + application_id + "&answer=" + answer);
        }
    </script>
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            {% block side_block %}
                {% if userprofile.picture %}
                    <!-- Should change the size to css and percentages probably -->
                    <img src="{{ userprofile.picture.url }}" width="128" height="128"/>
                {% endif %}

                <h1>{{ user.first_name }} {{ user.last_name }}</h1>

                <h3>
                    <small>Address:</small>
                    <p/>{{ userprofile.address }}
                    {{ userprofile.town }}
                    {{ userprofile.county }}
                    {{ userprofile.post_code }}</h3>

                <h3>
                    <small>phone number(s):</small>
                    <p/>{{ userprofile.contact_number }}</h3>
                <h3>
                    <small>Email address:</small>
                </h3><p/>
                <h4>{{ user.email }}<p/></h4>

                <a href="{% url 'edit_profile' %}">Edit Profile</a>
            {% endblock %}
        </div>
    </div>
</div>

{% block body_block %}

    {% if userprofile.type == 'v' %}

        <div class="panel">
            <div class="panel-heading">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-lg btn-primary" onclick="loadXMLDoc()">Opportunities Applied For</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-lg btn-primary" onclick ="loadXMLDoc2()">Replies to Applications</button>
                    </div>
                </div>
                <hr/>
                <div id="main-list">
                    {% if opportunities_list %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">10 Opportunities you might like...</h4>
                            </div>
                            <!-- Display search opportunitiess in an ordered list -->
                            <div class="panel-body">
                                <div class="list-group">
                                    {% for opportunities in opportunities_list %}
                                        <div class="list-group-item">
                                            <h4 class="list-group-item-heading">
                                                <a href="{% url 'opportunity' opportunities.id %}">{{ opportunities.name }}</a>
                                            </h4>
                                            <p class="list-group-item-text">{{ opportunities.description|truncatewords:100 }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {%else%}
                        <h1>No opportunities</h1>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}
        <div class="panel">
            <div class="panel-heading">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-lg btn-primary" href="{% url 'create_opportunity' %}">Make a New
                            Opportunity</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-lg btn-primary" onclick="loadXMLDoc3()">Reply to Applications</button>
                    </div>
                </div>
                <hr/>
                <div id="main-list">
                    {% if opportunities_list %}

                        <div class="panel panel-primary">
                            <!-- Display search opportunitiess in an ordered list -->
                            <div class="panel-heading">
                                <h4 class="panel-title">Your most recent opportunities</h4>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    {% for opportunities in opportunities_list %}
                                        <div class="list-group-item">
                                            <h4 class="list-group-item-heading">
                                                <a href="{% url 'opportunity' opportunities.id %}">{{ opportunities.name }}</a>
                                            </h4>

                                            <p class="list-group-item-text">{{ opportunities.description|truncatewords:100 }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="btn btn-primary" aria-label="Right Align" href="{% url 'manage_opportunities' %}">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> View All
                                </a>

                            </div>
                            {% else %}
                            <h1>No opportunities</h1>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
        </div>
    {% endif %}
{% endblock %}