{%extends 'base.html'%}


{% block body_block %}

    <div class="row"><div class="col-lg-8"><h1> Search for placements! </h1></div></div>
    <div class="row">
        <div class="col-lg-7">
            <form>
                <input class="form-control" type="text" name="suggestion" value="" id="suggestion" />
            </form>
        </div>
    </div>

    <hr/>
    <div id="cats" class="nav nav-list">
        {% if result_list %}
            {% for result in result_list%}
                <li>
                <h3>{{ result.name }}</h3>
                <h4>{{ result.description|truncatewords:100 }}</h4>
                </li>
            {% endfor %}
        {% else %}
        <div class="col-lg-7">
            <label> Please search for the volunteer opportunity above. </label>

        </div>
        {% endif %}
    </div>
</div>

{%endblock%}