{%extend 'base.html'%}
{% block side_block %}

<ul class="nav nav-list">
        <li class="nav-header">Find a Category</li>
        <form>
        <label></label>
        <li><input  class="search-query span10" type="text" name="suggestion" value="" id="suggestion" /></li>
        </form>
</ul>

<div id="cats">
</div>

{% endblock %}

{% block body_block %}
{% if result_list %}
{% for opportunity in result_list %}
<li><a href="{url''}">{{opportunity.name}}</a></li>
<h1>{{opportunity.summary|truncatewords:100}}</h1>
{% endfor %}
{% else %}
<h1> there are no current opportunities using this criteria</h1>
{% endif %}
{%endblock%}